@import "tailwindcss";
/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Mode sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Styles globaux */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Fonds météo personnalisés */
.sunny-bg {
  background: url('/images/sunny.jpg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.cloudy-bg {
  background: url('/images/cloudy.jpg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.rainy-bg {
  background: url('/images/rainy.jpg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.snowy-bg {
  background: url('/images/snowy.jpg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.fewclouds-bg {
  background: url('/images/peunuageux.jpg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.foggy-bg {
  background: url('/images/Foggy.jpg') center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
